* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
    scroll-behavior: smooth;

}
body {
  width: 100vw;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

nav {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: black;
}
.logo h1 {
  font-size: 32px;
  color: tomato;
  font-family: "Pacifico", cursive;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}
nav ul li a:hover {
  background-color: gainsboro;
  color: black;
}
nav ul li a {
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.5s ease;
}
.menu-icon {
  display: none;
}
.menu-icon i {
  color: #fff;
  font-size: 30px;
}

@media (max-width: 800px) {
  .logo h1 {
    font-size: 23px;
  }
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background-color: rgb(0, 0, 0);
    gap: 0;
    overflow: hidden;
    z-index: 2;
  }
  nav ul li {
    padding: 15px;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  #menuList {
    transition: all 0.3s ease;
  }
}

/* ========================================= */
.main {
  /* background-color: red; */
  width: 100%;
  height: auto;
  display: flex;
  padding: 60px 20px;
  margin-top: 20px;
}

.main-left {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-text {
  text-align: left;
  font-size: 16px;
}
.main-text h2 {
  font-size: 3em;
}
.main-text h3 {
  font-size: 4em;
}
.main-text h4 {
  font-size: 2em;
}
.main-text i{
  font-size: 1.5em;
}

.main-right {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-right .img-box {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border-left: 10px solid red;
  border-right: 10px solid yellow;
  border-bottom: 10px solid green;
  border-top: 10px solid blueviolet;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 5s linear infinite;
  box-shadow: 0 0 15px #00faff, 0 0 30px #00faff, 0 0 45px #00faff;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.img-box img {
  width: 100%;
  height: 100%;
  /* transform: rotate(-360deg); */
  animation: counter-spin 5s linear infinite;
}
@keyframes counter-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (max-width: 1000px) {
  .main-text {
    text-align: left;
    font-size: 16px;
  }
  .main-text h2 {
    font-size: 3em;
  }
  .main-text h3 {
    font-size: 3.5em;
  }
  .main-text h4 {
    font-size: 2em;
  }
  .main-right .img-box {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 800px) {
  .main-text h2 {
    font-size: 2.5em;
  }
  .main-text h3 {
    font-size: 3em;
  }
  .main-text h4 {
    font-size: 1.5em;
  }
  .main-right .img-box {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 750px) {
  .main-text h2 {
    font-size: 2em;
  }
  .main-text h3 {
    font-size: 2.5em;
  }
  .main-text h4 {
    font-size: 1em;
  }
  .main-right .img-box {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 580px) {
  .main {
    flex-direction: column;
    padding: 20px 0;
    gap: 35px;
  }
  .main-left {
    width: 100%;
    height: 50%;
    order: 2;
  }
  .main-text h2 {
    font-size: 1.7em;
  }
  .main-text h3 {
    font-size: 2.3em;
  }
  .main-text h4 {
    font-size: 1em;
  }
  .main-right {
    width: 100%;
    height: 50%;
  }
  .main-text {
    text-align: center;
  }
}

/* ==================================== */

.about-section {
  width: 100%;
  height: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 h5 {
  font-size: 27px;
  border-bottom: 5px solid yellow;
}
.about-content {
  padding-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
}
.about-left {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.about-left img {
  width: 500px;
  height: auto;
}
.about-right {
  width: 50%;
  height: auto;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
  justify-content: baseline;
}
.about-right .info {
  font-size: 23px;
  /* padding: 20px; */
}
.about-contact {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.379);
  display: flex;
  border-radius: 10px;
  padding-bottom: 10px;
}
.about-contact h6 {
  color: crimson;
  padding-top: 10px;
  font-size: 15px;
}
.about-contact p {
  font-size: 12px;
}
.about-contact-left {
  width: 50%;
  height: auto;
  padding: 0 15px;
  border-right: 2px solid black;
}
.about-contact-right {
  padding: 0 15px;
  width: 50%;
  height: auto;
}

.about-right button {
  padding: 10px 30px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: 800;
  transition: all 0.3s ease;
}
.about-right button:hover{
background-color: crimson;
}

@media (max-width: 1150px) {
  .about-right .info {
    font-size: 20px;
  }
  .about-contact {
    flex-direction: column;
  }
  .about-contact-left {
    width: 100%;
    border: none;
  }
  .about-contact-right {
    width: 100%;
  }
}

@media (max-width: 810px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
    width: 100%;
    align-items: center;
    text-align: justify;
  }
}
/* ======================================== */

.my-skills{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
.skills-container{
  width: 70%;
  /* background-color: red; */
  padding: 50px;
  display: flex;
  gap: 85px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.skill-box{
  width: 150px;
  height: 150px;
  padding: 20px;
  text-align: center;
  border: 2px solid white;
  border-radius: 7px;
   /* border-left: 5px solid blueviolet;
  border-right: 5px solid crimson;
  border-bottom: 5px solid crimson;
  border-top: 5px solid blueviolet; */
  transition: all 0.3s ease;
}
.skill-box:hover{
  scale: 1.1;
  box-shadow: rgba(38, 204, 241, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.skill-box img{
  width: 80%;
  height: 80%;
}
.skill-box h6{
  font-size: 15px;
}

@media(max-width: 700px){
  .skills-container{
    width: 100%;
  }
}

/* --------------------------- */

.project-section{
  padding: 25px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-container{
  margin-top: 25px;
    padding: 25px 0;
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.project-box{
  width: 350px;
  height: 300px;
  background-color: rgba(56, 56, 56, 0.445);
  /* border: 2px solid white; */
  border-radius: 8px;
  transition: all 0.3s ease;
}
.project-box:hover{
  transform: translateY(-10px);
  box-shadow: rgba(20, 194, 225, 0.25) 0px 13px 27px -5px, rgba(20, 194, 225, 0.25) 0px 8px 16px -8px;
}
.project-box img{
  width: 100%;
  height: 200px;
  padding: 5px;
}
.project-box .name{
  padding-left: 10px;
  border: none;
  font-size: 20px;
}
.project-box h6{
  font-size: 13px;
  padding-left: 10px;
}
.project-box button {
  margin-top: 10px;
  padding: 8px 35px;
  margin-left: 10px;
  color: white;
  background-color: crimson;
  border-radius: 25px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.project-box button:hover{
  background-color: tomato;
}
.project-box button a{
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;

}
/* =============================== */


.contact-container{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
.contact-left{
  
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  
}
.contact-left-title h2{
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}
.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border: 10px;
  margin-bottom: 20px;
}
.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500px;
  color: grey;
  border-radius: 50px;
}
.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-inputs:focus{
  border: 2px solid #ff994f;

}
.contact-inputs::placeholder{
  color: #a9a9a9;
}
.contact-left button{
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  border-radius: 50px;
  border: none;
  background:linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}

footer{
  margin-top: 25px;
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 15px;
}